<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="Keywords" content="大商创 免费商城系统 免费B2B2C 免费多商户系统  多店铺商城系统 企业级电商系统  ecsho"/>
  <meta name="Description"
        content="大商创是由商创网络（模板堂）推出的免费B2B2C商城系统，支持多店铺入驻，包含多城市多仓库等众多功能，能帮助企业及个人快速搭建多商户电商系统，并减少二次开发带来的成本"/>

  <title>购物流程_大商创-免费B2B2C商城系统，免费多商户商城系统，多店铺商城系统，企业级电商系统免费下载_模板堂出</title>


  <link rel="shortcut icon" href="favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="__index__/css/base.css"/>
  <link rel="stylesheet" type="text/css" href="__index__/css/style.css"/>
  <link rel="stylesheet" type="text/css" href="__index__/css/iconfont.css"/>
  <link rel="stylesheet" type="text/css" href="__index__/css/purebox.css"/>
  <link rel="stylesheet" type="text/css" href="__index__/css/quickLinks.css"/>

  <script type="text/javascript" src="__index__/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="__index__/js/jquery.json.js"></script>
  <script type="text/javascript" src="__index__/js/transport_jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="js/perfect-scrollbar/perfect-scrollbar.min.css"/>
</head>

<body>

{include file="index@common/head" /}
  <div class="w w1200">
    <div class="shopend-warp">
      <div class="shopend-info">
        <div class="s-i-left"><i class="ico-success"></i></div>
        <div class="s-i-right">
          <h3>{$msg}</h3>
          <div class="s-i-btn">
            <a href="user.php?act=order_list" class="btn sc-redBg-btn">返回上一页</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{include file="index@common/footer" /}

<script type="text/javascript" src="__index__/js/suggest.js"></script>
<script type="text/javascript" src="__index__/js/scroll_city.js"></script>
<script type="text/javascript" src="__index__/js/utils.js"></script>
<script type="text/javascript" src="__index__/js/warehouse.js"></script>
<script type="text/javascript" src="__index__/js/warehouse_area.js"></script>
<script type="text/javascript" src="__index__/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__index__/js/common.js"></script>
<script type="text/javascript" src="__index__/js/shopping_flow.js"></script>
<script type="text/javascript" src="__index__/js/jquery.nyroModal.js"></script>
<script type="text/javascript" src="__index__/js/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="__index__/js/lib_ecmobanFunc.js"></script>
<script type="text/javascript" src="__index__/js/jquery.validation.min.js"></script>
<script type="text/javascript" src="themes/ecmoban_dsc2017/js/dsc-common.js"></script>
<script type="text/javascript" src="themes/ecmoban_dsc2017/js/jquery.purebox.js"></script>
<script type="text/javascript" src="themes/ecmoban_dsc2017/js/region.js"></script>

<script type="text/javascript">
  $(function () {
    $(".p-mode-list .p-mode-item").click(function () {
      var onlinepay_type = $(this).attr('flag');
      var order_sn = $(this).attr('order_sn');
      $.ajax({
        async: false,
        url: "flow.php?act=onlinepay_edit&onlinepay_type=" + onlinepay_type + "&order_sn=" + order_sn,
      });
    });


    $(".p-mode-item input").click(function () {
      var content = $("#pay_Dialog").html();
      pb({
        id: "payDialog",
        title: json_languages.payTitle,
        width: 550,
        height: 300,
        content: content,
        drag: false,
        foot: false
      });
    });

    //微信支付定时查询订单状态 by wanglu
    checkOrder();

    //微信扫码
    $("[data-type='wxpay']").on("click", function () {
      var content = $("#wxpay_dialog").html();
      pb({
        id: "scanCode",
        title: "",
        width: 716,
        content: content,
        drag: true,
        foot: false,
        cl_cBtn: false,
        cBtn: false
      });
    });
  });

  var timer;

  function checkOrder() {
    var pay_name = "在线支付";
    var pay_status = "0";
    var url = "flow.php?step=checkorder&order_id=17";
    if (pay_name == json_languages.payment_is_online && pay_status == 0) {
      $.get(url, {}, function (data) {
        //已付款
        if (data.code > 0 && data.pay_code == 'wxpay') {
          clearTimeout(timer);
          location.href = "respond.php?code=" + data.pay_code + "&status=1";
        }
      }, 'json');
    }
    timer = setTimeout("checkOrder()", 5000);
  }
</script>

<script type="text/javascript">
  $(function () {
    $("input[name='store_order']").val(0);

    $(document).on('click', "[ectype='store_order']", function () {
      var i = 0;
      $("*[ectype='ckShopAll']").each(function () {
        var t = $(this);
        if (t.prop("checked") == true) {
          i++
        }
      });

      if (i > 1) {
        pbDialog(json_languages.not_seller_batch_goods_num, "", 0, '', '', 55);
      } else {
        $("input[name='store_order']").val(1);
        $("form[name='formCart']").submit();
      }
    });
  })
</script>
</body>
</html>